/*	resolution: 320px	mobile
	resolution: 768px	tablette
	resolution: 1280px	standard
*/
@font-face {
  font-family: "Eurostile LT Std-Bold";
  src: url("../font/EurostileLTStd-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: "Eurostile-Medium";
  src: url("../font/EurostileMedium.ttf");
  font-weight: normal; }
body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Eurostile-Medium; }

a:hover, a:visited {
  text-decoration: none; }

h1 {
  font-family: Eurostile LT Std-Bold, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase; }

h2 {
  font-size: 25px;
  color: #f07b05;
  text-transform: uppercase; }

p {
  font-weight: normal; }

button {
  border: 2px solid darkred;
  background-color: black;
  text-transform: uppercase;
  font-family: Eurostile LT Std-Bold, sans-serif;
  padding: 2vh 7vh;
  font-size: 2vh; }

header, section, footer {
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

section {
  border-top: 2px solid darkred;
  box-shadow: 0px 0px 10px 1px darkred; }

/* Animate button */
.animbtn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.animbtn:before {
  content: "";
  background-color: darkred;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.animbtn:hover:before,
.animbtn:focus:before,
.animbtn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.btngplay:before {
  background-color: #f07b05; }

/* end anim button */
.navlogo {
  margin: 1vh 15vh; }

.logo, .logo:hover, .logo:focus {
  background-image: url(../img/logo/logo-elite-dangerous.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 12vh;
  border-bottom: none; }

.navtop {
  font-size: 11px;
  margin: 3vh 0vh 0vh; }

.navright {
  text-transform: uppercase;
  padding-right: 16vh;
  font-size: 16px;
  height: 15.5vh;
  opacity: 0.9;
  background-color: #040303; }

.navright li {
  display: inline-block;
  margin: 0 1.5vh; }

.navright li a {
  display: inline-block;
  margin: 1vh 0vh; }

nav a {
  color: white; }

nav a:hover, nav a:focus {
  color: #f07b05;
  padding-bottom: 1px;
  border-bottom: 2px solid #f07b05; }

nav a:focus {
  text-decoration: none; }

.navactive {
  background-color: #f07b05;
  padding: 0 0.5vh; }

header h1 {
  font-size: 8vh; }

.heado {
  background-image: url(../img/story/bg-hero-connected_gameplay-slim.jpg);
  background-attachment: fixed;
  background-position: initial;
  background-size: 100%;
  height: 92vh; }

.tctrl {
  font-weight: normal;
  margin: 56vh auto 1vh;
  text-transform: uppercase; }

.texth2 {
  white-space: pre-line;
  margin: 0vh 0vh 2vh; }

.buybutton {
  border: 2px solid #f07b05; }

.sect1 {
  height: 58vh;
  background-image: url(../img/story/bg-hero-sidewinder.jpg); }

.div1 {
  margin: 14vh -5vh; }

.sect2 {
  height: 58vh;
  background-image: url(../img/story/bg-hero-cobra_attack.jpg); }

.div2 {
  margin: 17vh 0vh;
  padding: 0vh 1vh 0 15vh; }

.textdiv2 {
  padding: 0 1vh;
  font-size: 12px; }

.sect3 {
  height: 58vh;
  background-image: url(../img/story/bg-hero-powerplay-right.jpg); }

.div3 {
  margin: 10vh 0vh;
  padding: 0vh 1vh 0 15vh; }

.textdiv3 {
  font-size: 12px; }

.sect4 {
  height: 58vh;
  background-image: url(../img/story/bg-hero-powerplay.jpg); }

.div4 {
  margin: 8vh 0vh; }

.sect5 {
  height: 30vh;
  background-image: url(../img/story/bg-hero-stars.jpg); }

.div5 {
  margin: 8vh 0vh;
  color: #f07b05; }

.div5 h1 {
  font-size: 26px;
  color: #f07b05;
  font-family: Eurostile-Medium;
  font-weight: normal;
  line-height: 0.6; }

footer {
  height: 80vh; }

.navcenter {
  text-transform: uppercase;
  text-align: center;
  margin: 20vh 10vh 3vh; }

.navcenter li {
  margin: 0 2vh;
  font-size: 16px;
  font-weight: normal;
  display: inline-block; }

ul {
  list-style-type: none;
  text-align: center; }

.lifooter {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  height: 6%;
  width: 10%;
  margin: 0 1vh; }

.marksocial {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  margin: 0 auto;
  height: 4vh;
  width: 3.5vw; }

.soc1 {
  background-image: url(../img/logo/sociaux/logo-twitter.png); }

.soc2 {
  background-image: url(../img/logo/sociaux/logo-facebook.png); }

.soc3 {
  background-image: url(../img/logo/sociaux/logo-instagram.png); }

.soc4 {
  background-image: url(../img/logo/sociaux/logo-youtube.png); }

.soc5 {
  background-image: url(../img/logo/sociaux/logo-reddit.png); }

.marque1 {
  background-image: url(../img/logo/partenaires/logo-frontier.png); }

.marque2 {
  background-image: url(../img/logo/partenaires/logo-cobra.png); }

.marque3 {
  background-image: url(../img/logo/partenaires/logo-xbox-one.png); }

.marque4 {
  background-image: url(../img/logo/partenaires/logo-nvidia.png); }

.mark1-1 {
  width: 10vw !important;
  height: 10vh !important;
  margin: -1vh -2vh !important; }

.mark1-2 {
  width: 20vh !important;
  height: 10vh !important;
  margin: 0vh !important; }

.mark2-1 {
  height: 11vh !important;
  width: 17vw !important; }

.mark2-2 {
  height: 11vh !important;
  width: 12vw !important; }

.lifooter {
  height: 6vh;
  width: 12vw; }

.mark3 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  height: 5vh;
  width: 10.5vw;
  margin: 0vh -1vh; }

.mark4 {
  height: 12vh;
  width: 13vw; }

.marque5 {
  background-image: url(../img/logo/partenaires/logo-oculus.png);
  margin: 0vh 3vh !important; }

.marque6 {
  background-image: url(../img/logo/partenaires/logo-steam-vr.png); }

.marque7 {
  background-image: url(../img/logo/partenaires/logo-htc-vive.png);
  margin: 0 -8vh 0 -6vh !important; }

.marque8 {
  background-image: url(../img/logo/partenaires/logo-logitech.png); }

.marque9 {
  background-image: url(../img/logo/partenaires/logo-saitek.png); }

.marque10 {
  background-image: url(../img/logo/partenaires/logo-trackir.png);
  margin: 0vh 3vh 0 0 !important; }

.marque11 {
  background-image: url(../img/logo/partenaires/logo-thrustmaster.png); }

.marque12 {
  background-image: url(../img/logo/partenaires/logo-pegi-7.png); }

.marque13 {
  background-image: url(../img/logo/partenaires/logo-esrb-teen.png); }

.textlegal {
  font-size: 12px;
  padding: 3vh 18vh; }

.Mentionlegal {
  color: #f07b05;
  font-weight: bold; }

.Mentionlegal:hover {
  color: #f07b05;
  text-decoration: underline; }

.gplay {
  background-image: url(../img/gameplay/bg-hero-asp-slim.jpg); }

.sectall {
  height: 88vh; }

.sect1gplay {
  background-image: url(../img/gameplay/bg-hero-connected_gameplay-right.jpg); }

.sect2gplay {
  background-image: url(../img/gameplay/bg-hero-stars.jpg); }

.marg {
  padding: 12vh 16vh; }

.small {
  background-repeat: no-repeat;
  background-size: contain;
  height: 31vh; }

.smallimg1 {
  background-image: url(../img/gameplay/gameplay-trade.jpg); }

.smallimg2 {
  background-image: url(../img/gameplay/gameplay-combat.jpg); }

.smallimg3 {
  background-image: url(../img/gameplay/gameplay-explore.jpg); }

.sect3gplay {
  background-image: url(../img/gameplay/bg-hero-shipyard_vulture-right.jpg); }

.sect4gplay {
  background-image: url(../img/gameplay/bg-hero-imperial_eagle-left.jpg); }

.sect5gplay {
  background-image: url(../img/gameplay/bg-hero-wings-right.jpg); }

.sect6gplay {
  background-image: url(../img/gameplay/bg-hero-community-zac.jpg); }

.sect7gplay {
  background-image: url(../img/gameplay/bg-hero-cqc-slim.jpg); }

.sect8gplay {
  background-image: url(../img/gameplay/bg-hero-powerplay-bottom.jpg);
  background-size: contain;
  background-position: center bottom;
  height: 46vw; }

.powerplay {
  margin-top: 12vh; }

footer {
  margin-top: -14vh; }

/*# sourceMappingURL=style.css.map */
