body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
header, section, footer {
    height: 100vh;
}

// navbar
.navright {
    text-transform: uppercase;
    margin-right: 10vh;
    float: right;
}
.navright li {
    display: inline-block;
    margin: 0 1vh;
}
nav a {
    color: white;
}
nav a:hover {
    color: #f07b05;
}

// header


// section


// footer
.navcenter {
    text-transform: uppercase;
    text-align: center;
    margin-right: 10vh;
}
.navcenter li {
    display: inline-block;
    margin: 0 1vh;
}