// sass
$font1 : EurostileLTPro, sans-serif;
$bordo: 2px darkred;
$shadow: 0px 0px 10px 1px darkred;

// font
@font-face {
    font-family: "Eurostile LT Std";   
    src: url('../web/font/EurostileLTStd-BoldEx2.ttf');
    font-weight: bold;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: $font1;
}
a {
    text-decoration: none;
}
header, section, footer {
    height: 100vh;
    font-weight: bold;
    background-size: 100%;
    background-repeat: no-repeat;
}

// navbar
.navright {
    text-transform: uppercase;
    margin-right: 10vh;
    float: right;
}
.navright li {
    display: inline-block;
    margin: 0 1vh;
}
nav a {
    color: white;
}
nav a:hover {
    color: #f07b05;
}

// header
.heado {
    background-image: url(../img/bg/bg-hero-connected_gameplay-slim.jpg);
    background-attachment: fixed;
}

// section
.sect1 {
    border: $bordo;
    box-shadow: $shadow;
    background-image: url(../img/bg/bg-hero-sidewinder.jpg);
}
.sect2 {
    border: $bordo;
    box-shadow: $shadow;
    background-image: url(../img/bg/bg-hero-cobra_attack.jpg);
}
.sect3 {
    border: $bordo;
    box-shadow: $shadow;
    background-image: url(../img/bg/bg-hero-powerplay-right.jpg);
}
.sect4 {
    border: $bordo;
    box-shadow: $shadow;
    background-image: url(../img/bg/bg-hero-powerplay.jpg);
}
.sect5 {
    border: $bordo;
    box-shadow: $shadow;
    background-image: url(../img/bg/bg-hero-stars.jpg);
}

// footer
.foota {
}
.navcenter {
    text-transform: uppercase;
    text-align: center;
    margin-right: 10vh;
}
.navcenter li {
    display: inline-block;
    margin: 0 1vh;
}